.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 100%;
    background: #4d4b4a;
    color: white;
    text-align: center;
    margin-top: 1rem;
}